.profile-tabs {
  text-align: center;
}

.profile-tabs .ant-tabs-tab-active {
  color: #282c34 !important;
}

.ant-tabs-tab:hover {
  color: #282c34 !important;
}

.ant-tabs-ink-bar {
  background-color: #282c34 !important;
}